


.confirmacionPadreConted{
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}




.confirmacionPadreConted .conted_recibido{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: auto;
}


.confirmacionPadreConted .conted_recibido img{
    width: 30rem;
}

.confirmacionPadreConted .conted_recibido h1{
   margin: 4rem 0px  1rem 0px  ;
   font-weight: bold;
   font-size: 2rem;
   color: green;
 
}



.confirmacionPadreConted .conted_recibido p{
    width: 90%;
    margin: 0px 0px 2rem 0px ;
    font-size: 1.3rem;

}


