
.slider4padreconted {
    width: 100%;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
    margin-bottom: 1rem;


}

.slider4padreconted::-webkit-scrollbar {
    display: none;
}

.slider4hijoconted {
    white-space: nowrap;
    display: flex;

}


.novelaslider4conted {
    display: inline-block;
    padding: 0 3px;
}

.novelaslider4conted img {
    border-radius: 5px;
    width: 10.5rem;
    box-shadow: 5px 4px 9px 0px #0000002d;
    height: 100%;
}